<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Calculator 3D</title>
  </head>
  <body>
    <h1>Calculadora</h1>
    <div class="calculadora">
      <div class="container-result">
        <div class="value"></div>
        <div class="result"></div>
      </div>
      <div class="number-container">
        <label><input type="button" name="CalcBtn" value="clr" /></label>
        <label><input type="button" name="CalcBtn" value="(" /></label>
        <label><input type="button" name="CalcBtn" value=")" /></label>
        <label><input type="button" name="CalcBtn" value="del" /></label>
        <label><input type="button" name="CalcBtn" value="9" /></label>
        <label><input type="button" name="CalcBtn" value="8" /></label>
        <label><input type="button" name="CalcBtn" value="7" /></label>
        <label><input type="button" name="CalcBtn" value="/" /></label>
        <label><input type="button" name="CalcBtn" value="6" /></label>
        <label><input type="button" name="CalcBtn" value="5" /></label>
        <label><input type="button" name="CalcBtn" value="4" /></label>
        <label><input type="button" name="CalcBtn" value="*" /></label>
        <label><input type="button" name="CalcBtn" value="3" /></label>
        <label><input type="button" name="CalcBtn" value="2" /></label>
        <label><input type="button" name="CalcBtn" value="1" /></label>
        <label><input type="button" name="CalcBtn" value="-" /></label>
        <label><input type="button" name="CalcBtn" value="." /></label>
        <label><input type="button" name="CalcBtn" value="0" /></label>
        <label><input type="button" name="CalcBtn" value="=" /></label>
        <label><input type="button" name="CalcBtn" value="+" /></label>
      </div>
    </div>
    <p>Developed by: Nicolás Cabrera Rodríguez</p>
    <script src="../js/script.js" type="text/javascript"></script>
  </body>
</html>
